<div class="row mb-3">
  <div class="col-md-2">
    <label class="col-form-label">{{'EMPLOYEES.FIELDS.'+ fieldName.toLocaleUpperCase() | translate}}</label>
  </div>
  <div class="col-md-5">
    <input class="form-control" [formControlName]="fieldName" readonly disabled>
  </div>
  <div class="col-md-5">
    <ng-container [ngSwitch]="typeInput">
      <ng-container *ngSwitchCase="'date'">
        <app-date-time-picker [formControlName]="fieldName" [format]="formatDate"></app-date-time-picker>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <input class="form-control" [formControlName]="fieldName">
      </ng-container>
    </ng-container>


  </div>
</div>
