.text{
    text-align: left; font-family: 'Muli', Arial, sans-serif;font-size: 14px;font-weight: bold; opacity: 0.8;
  }

  .form-control{
    background-color: #C8CBCD;
  }
.group-input{
  padding: 10px; border: 0.5px #a7a7a7 solid
}
