$lh-primary-color: $primary;
$lh-secondary-color: #999dd5;

$lh-white-color: #ffffff;
$lh-white1-color: #f8f8f8;
$lh-white2-color: #f7f7f7;
$lh-white3-color: #f2f2f2;
$lh-white4-color: #dadada;
$lh-white5-color: #fcfcfc;
$lh-white6-color: #f1f1f1;
$lh-white7-color: #fffdfb;

$lh-black-color: #000000;
$lh-black2-color: #25252f;
$lh-black3-color: #353852;
$lh-black4-color: #3d4c67;
$lh-black5-color: #69747c;
$lh-black6-color: #acacac;
$lh-black7-color: #b7b7b7;
$lh-black8-color: #58636b;
$lh-black9-color: #333333;

$lh-red-color: #f54c72;
$lh-red2-color: #fa4169;
$lh-red3-color: #fff3f6;
$lh-red4-color: #ff7081;
$lh-red5-color: #de8683;
$lh-red6-color: #fff6f6;
$lh-red7-color: #ed362b;
$lh-red8-color: #fff7f8;
$lh-red9-color: #fff8f8;
$lh-red10-color: #f96787;

$lh-text-color: #2f3147;
$lh-text2-color: #363852;
$lh-text3-color: #3d405e;
$lh-text4-color: #5a636a;
$lh-text5-color: #7276A7;

$lh-orange1-color: #ffcf73;
$lh-orange2-color: #feb326;
$lh-orange3-color: rgba(254, 179, 38, 0.25);

$lh-light-purple-color: #9978f9;

$lh-purple-color: #6038cf;
$lh-purple2-color: #eaebff;
$lh-purple3-color: #667089;
$lh-purple4-color: #885efe;
$lh-purple5-color: #916cff;
$lh-purple6-color: #7d82b2;
$lh-purple7-color: #c0aafd;
$lh-purple8-color: #fbfcff;
$lh-purple9-color: #f3f3ff;
$lh-purple10-color: #6e3ef3;
$lh-purple11-color: #2f3146;
$lh-purple12-color: #6236ff;

$lh-button-shadow-color: rgba(98, 70, 176, 0.1);
$lh-input-shadow-color: rgba(147, 147, 170, 0.12);
$lh-shadow-color: rgba(0, 0, 0, 0.07);
$lh-button-shadow2-color: rgba(70, 78, 176, 0.1);

$lh-grey-color: #f0f0f0;
$lh-grey2-color: #c0c0c0;
$lh-grey3-color: #7276a7;
$lh-grey4-color: #dfd4ff;
$lh-grey5-color: #e4e8eb;
$lh-grey6-color: #fafafa;
$lh-grey7-color: #cecece;
$lh-grey8-color: #c8c8c8;
$lh-grey9-color: #f9f9f9;
$lh-grey10-color: #f5f6fe;
$lh-grey11-color: #e2eaf0;
$lh-grey12-color: #dde7ee;
$lh-grey13-color: #e7eaec;
$lh-grey14-color: #f2f3f9;
$lh-grey15-color: #dfe3e8;
$lh-grey16-color: #fbfbfb;
$lh-grey17-color: #c7c7c7;
$lh-grey18-color: #f2f3ff;
$lh-grey19-color: #f2f2f2;
$lh-grey20-color: #e5e5e5;
$lh-grey21-color: #d4d4d4;
$lh-grey22-color: #c9c9c9;
$lh-grey23-color: #8c8c8c;
$lh-grey24-color: #272727;
$lh-grey25-color: #5d5d5d;
$lh-grey26-color: #dbdbdb;
$lh-grey27-color: #89969f;
$lh-grey28-color: #c6c6c6;
$lh-grey29-color: #dadada;
$lh-green30-color: #6d7278;
$lh-green31-color: #dddddd;
$lh-grey32-color: #69747c;

$lh-green1-color: #5befa3;
$lh-green2-color: #4bce8b;
$lh-green3-color: #4ace8b;
$lh-green4-color: rgba(64, 206, 242, 0.25);
$lh-green5-color: #a7f5cd;
$lh-green6-color: #e7fff3;
$lh-green7-color: #4bce8b;

$lh-password-strength-notice-color: rgba(0, 0, 0, 0.16);

$lh-dark-blue-color: #526079;

$lh-blue-color: #4ed1f2;
$lh-blue2-color: #40cef2;
$lh-blue3-color: #2db0d2;
$lh-blue4-color: #3186fb;
$lh-blue5-color: #56b7fb;
$lh-blue6-color: #dee2e6;
$lh-blue7-color: #648fc6;
$lh-blue8-color: #0c28ce;
$lh-blue9-color: #2a64d0;
$lh-blue10-color: #4236ff;
$lh-blue11-color: #5c83e6;

$lh-yellow-color: #fbb326;
$lh-yellow2-color: #f8b54a;
$lh-yellow3-color: #e6d1a9;
$lh-yellow4-color: #fbb43d;
$lh-yellow5-color: #fdb43d;
$lh-yellow6-color: #f9b340;
$lh-yellow7-color: #f8c315;
$lh-yellow8-color: #b45f00;

$lh-pink17-color: #f24fe0;

$lh-alert-color: #f8e1e1;
$lh-alert2-color: #fbefdc;

$lh-alert-text-color: #723736;

$lh-bg-gradient-turquoise-color: linear-gradient(270deg, #40CEF2 0%, #2DB0D2 100%);